body{
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.1), rgba(245, 246, 252, 100)),
    url('images/office.jpg');
    background-size: cover;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.text-column{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin-left: 5%;
}

.company-name{
    font-weight: bolder;
    font-size: x-large;
}

.description{
    width: 320px;
    margin-bottom: 20px;
    font-size: 15px;
}

button{
    background: #0ea5e9;
    color: whitesmoke;
    padding: 20px 35px;
    border: solid #0ea5e9;
    font-family: "Open Sans", serif;
    font-weight: bold;
    
}

.underline{
    text-decoration: underline #0ea5e9;
}